

html, body{
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.background{
    background-image: url(img/background.jpg);
    background-size: cover;
    min-height: 100%;
    background-position: center;
}

.content{
    padding-top: 1em;
}

.centerWidth{
    text-align: center;
}

.normalButton {
	background-color:#dedede;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:20px;
	padding:16px 31px;
	text-decoration:none;
}
.normalButton:hover {
	background-color:#95d8de;
}
.normalButton:active {
	position:relative;
	top:1px;
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

.correct{
    font-size: 1em;
    background-color: green;
    opacity: 0.8;
    color: black;
    padding: 1em;
    padding-left: 2em;
}

.wrong{
    font-size: 1em;
    background-color: red;
    opacity: 0.8;
    color: black;
    padding: 1em;
    padding-left: 2em;
}

.option{
    font-size: 1em;
    background-color: white;
    opacity: 0.8;
    color: black;
    padding: 1em;
    padding-left: 2em;
}

.hover:hover {
	background-color:#95d8de;
}

#mainTitle{
    vertical-align: middle;
    font-size: 5em;
    margin-top: 2em;
}

#question{
    padding: 1em;
    background-color: white;
    opacity: 0.8;
    color: black;
    font-size: 2em;
}